body {
    background-color: #000;
    width: /*67.5rem*/100vw;
    height: 100vh;
}

header .head .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: /*67.5rem*/100%;
    height: 62.35vh;
    background-size: cover;
    background-position: center center;
    animation: slider 15s infinite linear;
}

header .head .slider .slide:nth-child(1) {
    background-image: url('../images/main_img4_1.jpg');
    animation-delay: 0;
}

header .head .slider .slide:nth-child(2) {
    background-image: url('../images/main_img2_1.jpg');
    animation-delay: -5s;
}

header .head .slider .slide:nth-child(3) {
    background-image: url('../images/main_img1_1.jpg');
    animation-delay: -10s;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    26% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }

    93% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

header .head .menubar {
    height: 11.11vh;
}

header .head .logo {
    top: 5.5vh;
    left: 57.53vw;
    transform: translate(-50%, -50%);
    width: 28.53vw;
    height: auto;
}

header .head .btn_menu {
    position: absolute;
    top: 3.5rem;
    left: 90vw;
    background: url(../images/btn_menu.png) no-repeat;
    width: 6.75vw;
    height: 4.44vh;
}

header .head .menu ul {
    display: flex;
    flex-direction: column;
/*    justify-content: center;
    align-items: center;*/
    border-top: solid 1px #fff;
    top: 11.2vh;
    left: 0;
    padding-top: 0;
    background: rgba(0, 0, 0, 0.5);
}

header .head .menu ul li {
    /*line-height: 1;*/
}

header .head .menu ul li a {
    display: inline-block;
    margin-left: 0;
    width: 100vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    border-bottom: solid 1px #fff;
    font-size: 4.88vw;
}

header .head .menu ul li:nth-child(6) a {
    margin-left: 0;
}

header .head .menu li {
    width: 100vw;
    margin: 0 auto;
}

header .head .content {
    display: none;
}