@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

body {
    background-color: #232323;
    box-sizing: border-box;
}

header .head {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:
        /*120rem*/
        100%;
    /* 1920 */
    height: 67.75rem;
    /* 1084 */
}

header .head .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width:
        /*120rem*/
        100%;
    height: 67.75rem;
    background-size: cover;
    background-position: center center;
    animation: slider 15s infinite linear;
}

header .head .slider .slide:nth-child(1) {
    background-image: url(../images/main_img4_1.jpg);
    animation-delay: 0;
}

header .head .slider .slide:nth-child(2) {
    background-image: url(../images/main_img2_1.jpg);
    animation-delay: -5s;
}

header .head .slider .slide:nth-child(3) {
    background-image: url(../images/main_img1_1.jpg);
    animation-delay: -10s;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    26% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }

    93% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

header .head .menubar {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width:
        /*120rem*/
        100%;
    height: 70px;
    background-color: #fff;
    opacity: 20%;
}

header .head .content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: left;
    line-height: 1.875rem;
    letter-spacing: 0.03rem;
}

header .head .content h1 {
    font-size: 50PX;
    margin-bottom: 0.5rem;
}

header .head .content h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

header .head .content p {
    font-size: 14px;
}

header .head .content p:last-child {
    font-size: 1rem;
    font-weight: 500;
}

header .head .content span {
    color: #c8984e;
}

header .head .logo {
    position: absolute;
    top: 1.2rem;
    left: 400px;
    padding-top: 1.5rem;
    width: 8.937rem;
    height: 1.625rem;
    background: url(../images/logo1.png) no-repeat;
}

header .head .menu ul {
    position: absolute;
    top: 0;
    right: 128px;
    display: flex;
    padding-top: 1.5rem;
}

header .head .menu ul li a {
    margin-left: 2.5rem;
    color: #fff;
    font-weight: 100;
}

header .head .menu ul li:nth-child(4) a {
    margin-right: 15.625rem;
}

header .head .menu ul li:nth-child(5) a {
    margin-left: 0;
}

header .head .menu ul li:nth-child(6) a {
    margin-left: 1.562rem;
}

header .head .menu ul li a i {
    margin-right: 0.312rem;
}

/* layer1 */

.layer1 {
    margin-left: 100px;
}

.layer1 h2 {
    color: #fff;
    font-size: 50px;
}

.layer1 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.layer1 p {
    color: #fff;
    font-size: 20px;
}

.layer1 .logoimg {
    margin: 100px 0 30px 400px;
}

.layer1 .layer1_flex1 {
    /* outline: solid 1px red; */
    display: flex;
    flex-flow: wrap;
    margin-left: 400px;
    width: 1300px;
}

.layer1 .layer1_flex1 img {
    width: 700px;
    height: 400px;
}

.layer1 .layer1_flex1 .border_left {
    width: 3px;
    height: 125px;
    background-color: #fff;
    margin: 0 20px;
}

.layer1 .layer1_flex1 .layer1_txt1 {
    /* outline: solid 1px blue; */
    display: flex;
    margin-top: 275px;
    color: #fff;
    line-height: 1;
}

.layer1 .layer1_flex1 .layer1_txt1 p {
    line-height: 20px;
}

.layer1 .layer1_flex1 .layer1_txt2 {
    display: flex;
    color: #fff;
    line-height: 1;
    margin: 70px 0 200px 0;
}

/* layer2 */

.layer2 {
    margin: 0 auto;
    width: 1800px;
    height: 900px;
    background: url(../images/page3_bg_opacity.png) no-repeat #494949 center;
}

.layer2 .layer2_flex1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}

.layer2 .layer2_flex1 .layer2_txt1 {
    width: 360px;
    margin: auto;
    color: #fff;
    font-size: 20px;
}

.layer2 .layer2_flex1 .layer2_txt1 span {
    color: #F18D1E;
}

.layer2 .layer2_flex2 {
    display: flex;
    justify-content: center;
    margin-top: 330px;
    color: #fff;
}

.layer2 .layer2_flex2 div {
    text-align: center;
}

.layer2 .layer2_flex2 div:nth-child(2) {
    margin: 0 100px;
}

.layer2 .layer2_flex2 img {
    width: 100px;
    height: 100px;
}

.layer2 .layer2_flex2 p {
    width: 300px;
    margin-top: 20px;
}


/* layer3 */

.layer3 {
    /* outline: solid 1px red; */
    margin: 100px 200px 300px;
    color: #fff;
}

.layer3 h2 {
    font-size: 40px;
}

.layer3 h3 {
    font-size: 30px;
    font-weight: 500;
}

.layer3 .layer3_txt1 {
    width: 600px;
    margin: 0 auto;
}

.layer3 .layer3_txt1 div {
    border-bottom: solid 1px #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.layer3 .layer3_txt1 p {
    padding-left: 20px;
}

.layer3 .layer3_flex1 {
    /* outline: solid 1px blue; */
    width: 1000px;
    display: flex;
    flex-flow: wrap;
    /*justify-content: space-between;*/
    margin: 0 auto;
    padding-top: 50px;
}

.layer3 .layer3_flex1 .box1,
.layer3 .layer3_flex1 .box2 {
    margin-bottom: 50px;
}

.layer3 .layer3_flex1 .box2 {
    margin-left: 135px;
}

.layer3 .layer3_flex1 .box4 {
    margin-left: 153px;
}

.layer3 .layer3_flex1 img {
    width: 70px;
    height: 70px;
}

.layer3 .layer3_flex1 h3 {
    line-height: 1;
    /* 라인 초기화 */
    margin-bottom: 10px;
}

.layer3 .layer3_flex1 .box_flex {
    display: flex;
    align-items: center;
}

.layer3 .layer3_flex1 .box_flex .img_bd {
    border-right: 2px solid #fff;
    padding-right: 10px;
    margin-right: 7px;
}

.layer3 .layer3_flex1 .box_flex:nth-child(1) div.img_bd {
    height: 113px;
    line-height: 7;
}

.layer3 .layer3_flex1 .box_flex:nth-child(2) div.img_bd {
    height: 75px;
}

.layer3 .layer3_flex1 .box_flex:nth-child(3) div.img_bd {
    height: 75px;
}

.layer3 .layer3_flex1 .box_flex:nth-child(4) div.img_bd {
    height: 75px;
}

/* footer */

footer {
    height: 140px;
    background: #000;
}

footer img {
    margin-right: 20px;
    padding-bottom: 3px;
}

footer .ft_flex {
    /* outline: solid 1px red; */
    display: flex;
    align-items: flex-end;
    color: #fff;
    padding: 50px 0 0 700px;
}

footer .ft_flex p {
    font-size: 14px;
}

footer .ft_flex address {
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: solid 1px #fff;
}

footer .ft_flex span {
    font-size: 13px;
}


/* ///// company page ///// */

/* company header */
header .comp_head {
    background: url(../images/bg_img1.jpg) no-repeat center / cover;
    width: 100%;
    height: 1084px;
}

header .comp_head .menubar {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width:
        /*120rem*/
        100%;
    height: 70px;
    background-color: #fff;
    opacity: 20%;
}

header .comp_head .content {
    position: absolute;
    top: 33%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: right;
    letter-spacing: 0.03rem;
}

header .comp_head .content h1 {
    font-size: 50PX;
}

header .comp_head .content h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

header .comp_head .content p {
    font-size: 16px;
}

header .comp_head .logo {
    position: absolute;
    top: 1.2rem;
    left: 400px;
    padding-top: 1.5rem;
    width: 8.937rem;
    height: 1.625rem;
    background: url(../images/logo1.png) no-repeat;
}

header .comp_head .menu ul {
    position: absolute;
    top: 0;
    right: 128px;
    display: flex;
    padding-top: 1.5rem;
}

header .comp_head .menu ul li a {
    margin-left: 2.5rem;
    color: #fff;
    font-weight: 100;
}

header .comp_head .menu ul li:nth-child(4) a {
    margin-right: 15.625rem;
}

header .comp_head .menu ul li:nth-child(5) a {
    margin-left: 0;
}

header .comp_head .menu ul li:nth-child(6) a {
    margin-left: 1.562rem;
}

header .comp_head .menu ul li a i {
    margin-right: 0.312rem;
}

/* company section */

/* company layer1 */
.comp_layer1 {
    text-align: center;
    color: #fff;
    padding: 100px 0 200px 0;
}

.comp_layer1 h2,
h3 {
    font-size: 30px;
}

.comp_layer1 h2 {
    letter-spacing: 8px;
    font-weight: 500;
}

.comp_layer1 h3 {
    font-weight: normal;
    margin-bottom: 20px;
    color: #a6a6a6;
}

.comp_layer1 .comp_logo {
    margin-bottom: 50px;
}

.comp_layer1 .comp_txt1 {
    margin-bottom: 150px;
}

.comp_layer1 .comp_txt2 .comp_img {
    margin: 20px 0 40px 0;
}

.comp_layer1 .comp_txt2 p {
    color: #ababab;
}

.comp_layer1 .comp_txt2 p:nth-of-type(4) {
    margin-top: 20px;
}

/* company layer2 */
.comp_layer2 {
    margin: 0 auto;
    background-color: #494949;
    width: 1800px;
    height: 1500px;
    text-align: center;
    padding: 100px 0 200px 0;
    color: #fff;
}

.comp_layer2 h2 {
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: 500;
}

.comp_layer2 p {
    color: #d3d3d3;
}

.comp_layer2 span {
    font-weight: bold;
    color: #fff;
}

.comp_layer2 .comp_txt3,
.comp_txt4 {
    margin-bottom: 150px;
}

.comp_layer2 .comp_txt3 .bd_img,
.comp_txt4 .bd_img {
    margin-bottom: 10px;
}

.comp_layer2 .comp_txt5 .bd_img {
    margin-bottom: 50px;
}

.comp_layer2 .comp_txt5 .bd_img img {
    width: 435px;
    height: 6px;
}


/* company layer3 */
.comp_layer3 {
    text-align: center;
    color: #fff;
    margin: 150px 0;
}

.comp_layer3 h2 {
    font-size: 30px;
    font-weight: normal;
}

.comp_layer3 .comp_txt6 {
    margin-bottom: 60px;
}

.comp_layer3 .comp_txt6 .bd_img img {
    width: 420px;
    height: 6px;
}

.comp_layer3 .comp_flex {
    display: flex;
    flex-direction: column;
}

.comp_layer3 .comp_flex1 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.comp_layer3 .comp_flex1 p {
    font-weight: 500;
}

.comp_layer3 .comp_flex1 span {
    font-size: 15px;
    color: #c0c0c0;
}

.comp_layer3 .comp_flex1 div:nth-child(2) {
    margin: 0 10px;
}

.comp_layer3 .comp_flex1 div:nth-child(3) {
    text-align: left;
}

.comp_layer3 .comp_flex1:nth-child(3) {}

.comp_layer3 .comp_flex1:last-child {
    padding-bottom: 0;
}


/* ///// vint page ///// */

/* vint header */
header .vint_head {
    background: url(../images/bg_img2.jpg) no-repeat center / cover;
    width: 100%;
    height: 1084px;
}

header .vint_head .menubar {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;/*120rem*/     
    height: 70px;
    background-color: #fff;
    opacity: 20%;
}

header .vint_head .content {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
    letter-spacing: 0.03rem;
}

header .vint_head .content h1 {
    font-size: 50PX;
}

header .vint_head .content h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

header .vint_head .content p {
    font-size: 40px;
    color: #2e9cd9;
}

header .vint_head .content span {
    color: #f68608;
}

header .vint_head .logo {
    position: absolute;
    top: 1.2rem;
    left: 400px;
    padding-top: 1.5rem;
    width: 8.937rem;
    height: 1.625rem;
    background: url(../images/logo1.png) no-repeat;
}

header .vint_head .menu ul {
    position: absolute;
    top: 0;
    right: 128px;
    display: flex;
    padding-top: 1.5rem;
}

header .vint_head .menu ul li a {
    margin-left: 2.5rem;
    color: #fff;
    font-weight: 100;
}

header .vint_head .menu ul li:nth-child(4) a {
    margin-right: 15.625rem;
}

header .vint_head .menu ul li:nth-child(5) a {
    margin-left: 0;
}

header .vint_head .menu ul li:nth-child(6) a {
    margin-left: 1.562rem;
}

header .vint_head .menu ul li a i {
    margin-right: 0.312rem;
}

/* vint section */

/* vint layer1 */
.vint_layer1 {
    text-align: center;
    padding: 100px 0 200px;
    color: #fff;
}

.vint_layer1 h1 {
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 500;
}

.vint_layer1 h2 {
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: 500;
}

.vint_layer1 h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: #ebebeb;
}

.vint_layer1 .vint_txt1 div:nth-child(3) {
    margin-bottom: 10px;
}

.vint_layer1 .vint_txt1 div:nth-child(3) img {
    width: 335px;
    height: 5px;
}

.vint_layer1 .vint_flex1 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.vint_layer1 .vint_flex1 h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.vint_layer1 .vint_flex1 p {
    color: #ebebeb;
}

.vint_layer1 .vint_flex1 div:nth-child(1) {
    width: 430px;
    height: 145px;
}

/* vint layer2 */
.vint_layer2 {
    margin: 0 auto;
    padding: 100px 0 200px 0;
    width: 1800px;
    height: 1500px;
    background-color: #494949;
    text-align: center;
    color: #fff;
}

.vint_layer2 h2 {
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 500;
    color: #fff;
}

.vint_layer2 .vint_txt2 .vint_img4 {
    margin: 20px 0;
}

.vint_layer2 .vint_txt2 .bd_img img {
    width: 270px;
    height: 5px;
}

.vint_layer2 .vint_txt2 {
    margin: 0 auto;
    color: #d3d3d3;
}

.vint_layer2 .vint_txt2 span {
    color: #fff;
    font-weight: bold;
}

.vint_layer2 .vint_txt2 .vint_flex2 {
    display: flex;
    justify-content: center;
}

.vint_layer2 .vint_txt2 .vint_flex2 div:nth-child(1) {
    margin-right: 5px;
}

.vint_layer2 .vint_txt2 .vint_flex2 div:nth-child(2) {
    margin-bottom: 20px;
    width: 735px;
    text-align: left;
}

.vint_layer2 .vint_txt2 div:nth-child(6) {
    margin: 10px 0 20px 0;
}

.vint_layer2 .vint_txt2 .vint_btn {
    border: solid 1px #fff;
    background-color: transparent;
    color: #d3d3d3;
    width: 100px;
    height: 30px;
    font-size: 16px;
    line-height: 1;
}

.vint_layer2 .vint_txt3 h2 {
    margin-top: 130px;
    color: #fff;
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: 500;
}

.vint_layer2 .vint_txt3 .bd_img {
    margin-bottom: 30px;
}

.vint_layer2 .vint_txt3 .bd_img img {
    width: 270px;
    height: 5px;
}

/* vint layer3 */
.vint_layer3 {
    outline: solid 1px red;
    text-align: center;
    padding: 100px 0 200px 0;
}

.vint_layer3 h2 {
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 500;
    color: #fff;
}

.vint_layer3 .vint_txt4 .bd_img,
.vint_layer3 .vint_txt5 .bd_img {
    margin-bottom: 30px;
}

.vint_layer3 .vint_txt4 .bd_img img {
    width: 360px;
    height: 5px;
}

.vint_layer3 .vint_flex3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d3d3d3;
    margin: 30px 0;
}

.vint_layer3 .vint_flex3 div {
    width: 500px;
    text-align: left;
}

.vint_layer3 .vint_flex3 .vint_color {
    color: #fff;
}

.vint_layer3 .vint_txt4_1 {
    margin: 0 auto;
    width: 600px;
    height: 90px;
    background-color: #000;
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 200px;
    color: #fff;
    font-size: 20px;
}

.vint_layer3 .vint_txt4_1 p {
    color: #fff;
    font-size: 20px;
}

.vint_layer3 .vint_txt5 h2 {
    letter-spacing: 2px;
}

.vint_layer3 .vint_txt5 .vint_flex4 {
    display: flex;
    flex-flow: wrap;
    width: 737px;
    margin: 0 auto;
}

.vint_layer3 .vint_txt5 .vint_flex4 span {
    color: #fff;
    vertical-align: 2px;
}

.vint_layer3 .vint_txt5 .vint_flex4 p {
    margin-right: 20px;
    color: #d3d3d3;
}

.vint_layer3 .vint_txt5 .vint_flex4 p:nth-child(4) {
    margin-right: 46px;
}

/* ///// resources page ///// */

/* resources header */
section .reso_btn {
    border: solid 1px #fff;
    background-color: transparent;
    color: #d3d3d3;
    width: 110px;
    height: 30px;
    font-size: 16px;
    line-height: 1;
    margin-top: 60px;
}

header .reso_head {
    background: url(../images/bg_img4.jpg) no-repeat center / cover;
    width: 100%;
    height: 1084px;
}

header .reso_head .content {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
    letter-spacing: 0.03rem;
}

/* resources layer1 */
.reso_layer1 {
    text-align: center;
    color: #fff;
    padding: 100px 0 200px 0;
}

.reso_layer1 h2,
h3 {
    font-size: 30px;
}

.reso_layer1 h2 {
    letter-spacing: 8px;
    font-weight: 500;
}

.reso_layer1 .reso_txt1 .bd_img {
    margin-bottom: 80px;
}

.reso_layer1 .reso_txt1 .bd_img img {
    width: 150px;
    height: 5px;
}

.reso_layer1 .reso_txt1 .reso_flex1 {
    display: flex;
    justify-content: center;
}

.reso_layer1 .reso_txt1 .reso_flex1 .reso_box1 {
    width: 340px;
    height: 260px;
    background-color: #fff;
    outline: solid 1px red;
}

.reso_layer1 .reso_txt1 .reso_flex1 .reso_mar {
    margin: 0 40px;
}

.reso_layer1 .reso_txt1 .reso_flex1 p {
    text-align: left;
}

.reso_layer1 .reso_txt1 .reso_flex1 div p:nth-of-type(1) {
    margin-top: 10px;
}

.reso_layer1 .reso_txt1 .reso_flex1 div p:last-child {
    font-size: 14px;
}

/* reso layer2 */
.reso_layer2 {
    margin: 0 auto;
    background-color: #494949;
    width: 1800px;
    height: 1030px;
    text-align: center;
    padding: 100px 0 200px 0;
    color: #fff;
}

.reso_layer2 h2 {
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: 500;
}

.reso_layer2 h3 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-indent: 0;
}

.reso_layer2 p {
    color: #d3d3d3;
    font-size: 14px;
}

.reso_layer2 .reso_txt2 {
    margin-bottom: 100px;
}

.reso_layer2 .reso_txt2 .bd_img {
    margin-bottom: 40px;
}

.reso_layer2 .reso_txt2 .bd_img img {
    width: 410px;
    height: 6px;
}

.reso_layer2 .reso_box2 {
    /* outline: solid 1px red; */
    margin: 0 auto;
    width: 930px;
    text-align: left;
}

.reso_layer2 .reso_box2 .reso_border {
    border-bottom: solid 1px #d3d3d3;
    margin-top: 10px;
    text-indent: 10px;
}

.reso_layer2 .reso_box2 .reso_border div:nth-of-type(1) {
    margin: 5px 0;
}

.reso_layer2 .reso_box2 .reso_border div:nth-of-type(2) {
    margin-bottom: 10px;
}

.reso_layer2 .reso_box2 .reso_border div:nth-of-type(2) p {
    color: #fff;
}

/* resources layer3 */
.reso_layer3 {
    text-align: center;
    color: #fff;
    padding: 100px 0 200px 0;
}

.reso_layer3 h2 {
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: 500;
}

.reso_layer3 .reso_txt3 .bd_img {
    margin-bottom: 40px;
}

.reso_layer3 .reso_txt3 .bd_img img {
    width: 210px;
    height: 5px;
}

.reso_layer3 .reso_box3 {
    /* outline: solid 1px red; */
    margin: 0 auto;
    width: 930px;
    text-align: left;
}

.reso_layer3 .reso_box3 p {
    font-size: 15px;
    color: #fff;
}

.reso_layer3 .reso_box3 .reso_border {
    border-bottom: solid 1px #d3d3d3;
    margin-top: 10px;
    padding-bottom: 10px;
}



/* ///// contact page ///// */

/* contact header */
header .cont_head {
    background: url(../images/bg_img3.jpg) no-repeat center / cover;
    width: 100%;
    height: 1084px;
}

header .cont_head .content {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
    letter-spacing: 0.03rem;
}

.contact .contact_wrapper {
    margin: 0 auto;
    width: 1500px;
    max-width: 100%;
    padding: 70px 0;
    /* outline: solid 1px blue; */
}

.contact .contact_wrapper .contact_tit {
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 1.2px;
    color: #fff;
    margin-bottom: 30px;
}

.contact .contact_wrapper .contact_tit1 {
    padding-left: 225px;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 1.2px;
    color: #fff;
}

/* contact layer1 */

.contact .contact_wrapper .contact_layer1 {
    /* display: flex;
    justify-content: center; */
    margin-bottom: 70px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text1 {
    display: flex;
    justify-content: center;
    letter-spacing: 0.48px;
    color: #fff;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text1 .info_box {
    /* padding-left: 150px; */
    margin-top: 58px;
    /* outline: solid 1px red; */
}

.contact .contact_wrapper .contact_layer1 .inquiry_text1 .info_box img {
    margin-top: 30px;
}

.contact .contact_wrapper .contact_layer1 .inquiry_text1 .info_box .info_notice_flex2 {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.contact .contact_wrapper .contact_layer1 .map {
    margin-top: 58px;
    margin-left: 100px;
}

/* contact layer2 */

.contact .contact_wrapper .contact_txt {
    color: #fff;
    letter-spacing: 0.48px;
    padding: 15px 0 53px 230px;
    /*outline: solid 1px blue;*/
}

.contact .contact_wrapper .contact_layer2 fieldset {
    color: #fff;
    letter-spacing: 0.48px;
    border: 0;
    padding: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset > div {
    /*outline: solid 1px red;*/
    margin-bottom: 15px;
}

.contact .contact_wrapper .contact_layer2 fieldset label {
    /*outline: solid 1px blue;*/
    margin-right: 10px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(1) {
    /*outline: solid 1px brown;*/
    padding-left: 244px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(2) {
    /*outline: solid 1px brown;*/
    padding-left: 202px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(3) {
    /*outline: solid 1px brown;*/
    padding-left: 257px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(4) {
    /*outline: solid 1px blue;*/
    padding-left: 223px;
    margin-bottom: 18px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(4) label {
    vertical-align: top;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(5) {
    padding-left: 298px;
    margin-bottom: 40px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:last-child {
    text-align: center;
    margin:0;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-last-child(-n+2) label {
    margin-right: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset input[type=text],
.contact .contact_wrapper .contact_layer2 fieldset input[type=checkbox],
.contact .contact_wrapper .contact_layer2 fieldset input[type=button],
.contact .contact_wrapper .contact_layer2 fieldset textarea {
    padding: 2px 5px;
    border: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(1) input {
    /*outline: solid 1px orange;*/
    width: 185px;
    height: 28px;
    margin-left: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(1) input:nth-child(2) {
    margin-left: 0;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(2) input,
.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(3) input {
    /*outline: solid 1px blue;*/
    width: 843px;
    height: 28px;
}

.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(1) label:nth-of-type(2),
.contact .contact_wrapper .contact_layer2 fieldset div:nth-child(1) label:nth-of-type(3) {
    margin-left: 70px;
}

.contact .contact_wrapper .contact_layer2 fieldset textarea {
    /*outline: solid 1px purple;*/
    width: 843px;
    height: 300px;
    resize: none;
}

.contact .contact_wrapper .contact_layer2 fieldset input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: -4px;
}

.contact .contact_wrapper .contact_layer2 fieldset button {
    width: 130px;
    height: 40px;
    font-size: 18px;
    padding: 0;
    border: solid 1px #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}