@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    box-sizing: border-box;
}

header .head {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: /*120rem*/100%; /* 1920 */
    height: 67.75rem; /* 1084 */ 
}

header .head .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: /*120rem*/100%;
    height: 67.75rem;
    background-size: cover;
    background-position: center center;
    animation: slider 15s infinite linear;
}

header .head .slider .slide:nth-child(1) {
    background-image: url(../images/main_img4_1.jpg);
    animation-delay: 0;
}

header .head .slider .slide:nth-child(2) {
    background-image: url(../images/main_img2_1.jpg);
    animation-delay: -5s;
}

header .head .slider .slide:nth-child(3) {
    background-image: url(../images/main_img1_1.jpg);
    animation-delay: -10s;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    26% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }

    93% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

header .head .menubar {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: /*120rem*/100%;
    height: 4.375rem;
    background-color: #fff;
    opacity: 20%;
}

header .head .content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);                                                                   
    color: white;
    z-index: 2;
    text-align: left;
    line-height: 1.875rem;
    letter-spacing: 0.03rem;
}

header .head .content h1 {
    font-size: 2.187rem;
    margin-bottom: 0.5rem;
}

header .head .content h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

header .head .content p {
    font-size: 0.75rem;
}

header .head .content p:last-child {
    font-size: 1rem;
    font-weight: 500;
}

header .head .content span {
    color: #c8984e;
}

header .head .logo {
    position: absolute;
    top: 1.2rem;
    left: 400px;
    padding-top: 1.5rem;
    width: 8.937rem;
    height: 1.625rem;
    background: url(../images/logo1.png) no-repeat;
}

header .head .menu ul {
    position: absolute;
    top: 0;
    right: 2rem;
    display: flex;
    padding-top: 1.5rem;
}

header .head .menu ul li a {
    margin-left: 2.5rem;
    color: #fff;
    font-weight: 100;
}

header .head .menu ul li:nth-child(4) a {
    margin-right: 15.625rem;
}

header .head .menu ul li:nth-child(6) a {
    margin-left: 1.562rem;
}

header .head .menu ul li a i {
    margin-right: 0.312rem;
}

/* layer1 */

.layer1 {
    margin-left: 100px;
    margin-right: 100px;
}

.layer1 h2 {
    color: #fff;
    font-size: 50px; 
}

.layer1 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.layer1 p {
    color: #fff;
    font-size: 20px;
}

.layer1 .logoimg {
    margin: 100px 0 30px 400px;
}

.layer1 .layer1_flex1 {
    /* outline: solid 1px red; */
    display: flex;
    flex-flow: wrap;
    margin-left: 400px;
    width: 1300px;
}

.layer1 .layer1_flex1 img {
    width: 700px;
    height: 400px;
}

.layer1 .layer1_flex1 .border_left {
    width: 3px;
    height: 125px;
    background-color: #fff;
    margin: 0 20px;
}

.layer1 .layer1_flex1 .layer1_txt1 {
    /* outline: solid 1px blue; */
    display: flex;
    margin-top: 275px;
    color: #fff;
    line-height: 1;
}

.layer1 .layer1_flex1 .layer1_txt1 p {
    line-height: 20px;
}

.layer1 .layer1_flex1 .layer1_txt2 {
    display: flex;
    color: #fff;
    line-height: 1;
    margin-top: 70px;
}

/* layer2 */

.layer2 {
    margin: 100px 200px;
    height: 900px;
    outline: solid 1px red;
    background: url(../images/page3_bg_opacity.png) no-repeat #494949 center;
}

.layer2 .layer2_flex1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}

.layer2 .layer2_flex1 .layer2_txt1 {
    width: 360px;
    margin: auto;
    color: #fff;
    font-size: 20px;
}

.layer2 .layer2_flex1 .layer2_txt1 span {
    color: #F18D1E;
}

.layer2 .layer2_flex2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
    color: #fff;
}

.layer2 .layer2_flex2 div {
    text-align: center;
}

.layer2 .layer2_flex2 img {
    width: 100px;
    height: 100px;
}

.layer2 .layer2_flex2 p {
    width: 300px;
}
